@page "/checkout"
@using System.Threading.Tasks
@rendermode InteractiveServer

<PageTitle>Checkout</PageTitle>

<p class="title"><b>Checkout</b></p>
<hr/>
<br/>
 
<div class="content">
    @if (checkoutList.Count > 0) {
        <table>
            <tr>
                <th>Item Number</th>
                <th>Item Type</th>
                <th>Item Size</th>
                <th>Item Gender</th>
            </tr>
            @foreach (ClothingItem item in checkoutList) {
                <tr>
                    <td>@itemNum</td>
                    <td>@item.GetItemType()</td>
                    <td>@item.GetItemSize()</td>
                    <td>@item.GetItemGender()</td>
                </tr>
                itemNum++;
            }
        </table>
    }
</div>
<div>
    <input @bind="timestamp" type="text" placeholder="waiting for item scan" @ref="scanBox">
    <button class="btn btn-primary" @onclick="AddItem">Add Scanned Item</button>
</div>
@if (checkoutList.Count > 0) {
    <button class="btn btn-primary" style="margin-top: 5%" @onclick="ProcessCheckout">Checkout</button>
}

<style>

hr {
    border-top: 5px solid #000;
    opacity: 1;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 70px;
    font-family: 'Courier New', monospace;
}

p {
    font-size: 20px;
    font-family: 'Courier New', monospace;
}

.content {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    margin: auto;
    text-align: center;
}

table {
    width: 75%;
}

</style>

@code {
    string timestamp;
    int itemNum = 1;
    private ElementReference scanBox;

    List<ClothingItem> checkoutList = new();

    public void AddItem() {
        Console.WriteLine(timestamp);
        if (checkoutList.Count < 4) {
            ClothingItem item = Shared.fileList.FirstOrDefault(s=>s.GetTimestamp().Equals(timestamp));
            checkoutList.Add(item);
        } else {
            Console.WriteLine("At maximum checkout capacity");
        }
        itemNum = 1;
        timestamp = "";
    }

    public void ProcessCheckout() {
        Shared.UpdateDB(checkoutList);
        checkoutList.Clear();
        itemNum = 1;
        timestamp = "";
    }
}
