@page "/checkout"
@rendermode InteractiveServer

<PageTitle>Checkout</PageTitle>

<h1>Checkout</h1>

<!--TODO-->
<!--
    Shows some kind of message like "waiting for input"
    on card scan:
        Show sooner id and name
        display each item once it's been scanned
        checkout button:
            onclick():
                tick each item as no longer in stock on database
                refresh checkout page
                display alert "Checkout successful!"        
-->

@code {
/** TODO
    
    async func waitForCard() { wait for soonercard; }

    async func waitForScan() { wait for barcodeto be scanned; }
    
**/
}
