@page "/help"
@using System.Threading.Tasks

<p class="title"><b>Help</b></p>
<hr/>
<br/>

<iframe class="content" width="960" height="540"
    src="https://www.youtube.com/embed/mycSnFQ_r1o?controls=1">
</iframe>

<style>
hr {
    border-top: 5px solid #000;
    opacity: 1;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 70px;
    font-family: 'Courier New', monospace;
}

p {
    font-size: 20px;
    font-family: 'Courier New', monospace;
}

.content {
    text-align: center;
}
</style>