@page "/"
@using System.Threading.Tasks

<PageTitle>Wardrobe</PageTitle>

<p class="title"><b>Wardrobe</b></p>
<hr/>
<br/>
<p>The inventory tracking system for OU's Career Closet</p>

@if (!Shared.dbStatus.Equals("initialized")) {
    InitDB();
}

<style>

hr {
    border-top: 5px solid #000;
    opacity: 1;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 70px;
    font-family: 'Courier New', monospace;
}

p {
    font-size: 20px;
    font-family: 'Courier New', monospace;
}

.content {
    text-align: center;
}

</style>

@code {
    public void InitDB() {
        Shared.CheckDatabase();
        Console.WriteLine("Success");
    }
}