@page "/intake"
@using PdfSharp.Drawing
@using PdfSharp.Pdf
@using System.Reflection.Metadata
@rendermode InteractiveServer

<PageTitle>Intake</PageTitle>

<p class="title"><b>Intake</b></p>
<hr/>
<br/>

<div>
    <label for="type">Item Type:</label>
    <select @bind="item_type" name="itemType" id="type">
        <option value="Dress">Dress</option>
        <option value="Pants">Pants</option>
        <option value="Suit">Suit</option>
        <option value="Blouse">Blouse</option>
        <option value="Skirt">Skirt</option>
        <option value="Shoes">Shoes</option>
        <option value="Tie">Tie</option>
    </select>

    <label for="size">Item Size:</label>
    <select @bind="item_size" name="itemSize" id="size">
        <option value="XXS">XXS</option>
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
    </select>

    <label for="gender">Item Gender:</label>
    <select @bind="item_gender" name="itemGender" id="gender">
        <option value="Mens">Mens</option>
        <option value="Womens">Womens</option>
        <option value="Unisex">Unisex</option>
    </select>

    <button class="btn btn-primary" @onclick="DataSubmission">Submit</button>
</div>

<style>
hr {
    border-top: 5px solid #000;
    opacity: 1;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 70px;
    font-family: 'Courier New', monospace;
}

p {
    font-size: 20px;
    font-family: 'Courier New', monospace;
}

.content {
    text-align: center;
}

.barcode {
    font-weight: normal;
    font-family: 'BarCode39-Z7DZ', 'Comic Sans MS';
    font-size: 50px;
    font-stretch: condensed;
}
</style>

@code {

    private string item_type = "";
    private string item_size = "";
    private string item_gender = "";
    private string barcode = "";

    public void DataSubmission() {
        string timestamp = DateTime.Now.ToString();
        BarcodeFonts bcf = new BarcodeFonts();
        bcf.BarcodeType = BarcodeFonts.BarcodeEnum.Code39;
        bcf.CheckDigit = BarcodeFonts.YesNoEnum.Yes;
        bcf.Data = timestamp;
        bcf.encode();
        barcode = bcf.EncodedData;
        string itemID = bcf.EncodedData;
        itemID = itemID.Trim( new char[] {'*'});
        itemID = itemID.Remove(10,1);
        Shared.AddNewItem(itemID,item_type,item_size,item_gender);
        Console.WriteLine(itemID);
        
        PrintTag(itemID);
    }

    public void PrintTag(string barcodeText) {
        Bitmap image = new Bitmap(580, 300);

        PrivateFontCollection collection = new PrivateFontCollection();
        collection.AddFontFile(Path.GetFullPath(@"wwwroot\fonts\bar-code-39-font\BarCode39-Z7DZ.ttf"));
        
        using (Graphics g = Graphics.FromImage(image)) {
            g.Clear(System.Drawing.Color.White);

            Font tagFont = new Font("Courier New", emSize:50, FontStyle.Bold);
            Font barcodeFont = new Font(collection.Families.First(), 40);

            SolidBrush brush = new SolidBrush(System.Drawing.Color.Black);

            StringFormat format = new StringFormat();
            format.LineAlignment = StringAlignment.Center;
            format.Alignment = StringAlignment.Center;

            g.DrawString(item_gender, tagFont, brush, new PointF(290,50), format);
            g.DrawString(item_type, tagFont, brush, new PointF(290,150), format);
            g.DrawString(barcodeText, barcodeFont, brush, new PointF(290,240), format);
        }
        image.Save("barcode-test.png");
        Console.WriteLine("success");
    }
}
