@page "/intake"
@rendermode InteractiveServer

<PageTitle>Intake</PageTitle>

<p class="title"><b>Intake</b></p>
<hr/>
<br/>

<!--TODO-->
<!--
    Input Fields:
        Item type (dropdown menu?)
        Size (have allow for numbers and letters, also allow empty inputs)
        ...
-->
<div>
    <label>Item Type:</label>
    <input type="text" @bind="item_type">

    <label>Item Size:</label>
    <input type="text" @bind="item_size">

    <label>Item Gender:</label>
    <input type="text" @bind="item_gender">

    <button class="btn btn-primary" @onclick="DataSubmission">Submit</button>
</div>

<label class="barcode">@barcode</label>

<style>
hr {
    border-top: 5px solid #000;
    opacity: 1;
    width: 80%;
    margin: auto;
}

.title {
    font-size: 70px;
    font-family: 'Courier New', monospace;
}

p {
    font-size: 20px;
    font-family: 'Courier New', monospace;
}

.content {
    text-align: center;
}

.barcode {
    font-weight: normal;
    font-family: 'BarCode39-Z7DZ', 'Comic Sans MS';
    font-size: 50px;
    font-stretch: condensed;
}
</style>

@code {
/** TODO

    func Print() {
        Adds new item to database with input field info + timestamp + unique id
        Create barcode from ID
        Call printer API and print with design laid out by tagging group
        Empty all fields and/or force page refresh
        print alert to screen; something like "Item added successfully!" or whatever
    }

**/

    private string item_type = "";
    private string item_size = "";
    private string item_gender = "";
    private string barcode = "";

    public void DataSubmission() {
        string timestamp = DateTime.Now.ToString();
        BarcodeFonts bcf = new BarcodeFonts();
        bcf.BarcodeType = BarcodeFonts.BarcodeEnum.Code39;
        bcf.CheckDigit = BarcodeFonts.YesNoEnum.Yes;
        bcf.Data = timestamp;
        bcf.encode();
        barcode = bcf.EncodedData;
        string itemID = bcf.EncodedData;
        itemID = itemID.Trim( new char[] {'*'});
        itemID = itemID.Remove(10,1);
        Shared.AddNewItem(itemID,item_type,item_size,item_gender);
        Console.WriteLine(itemID);
    }
}
