@page "/intake"
@rendermode InteractiveServer

<PageTitle>Intake</PageTitle>

<h1>Clothing Intake</h1>

<!--TODO-->
<!--
    Input Fields:
        Item type (dropdown menu?)
        Size (have allow for numbers and letters, also allow empty inputs)
        ...

    Print Button:
        Call print logic function
-->

@code {
/** TODO

    func Print() {
        Adds new item to database with input field info + timestamp + unique id
        Create barcode from ID
        Call printer API and print with design laid out by tagging group
        Empty all fields and/or force page refresh
        print alert to screen; something like "Item added successfully!" or whatever
    }

**/
}
