@page "/intake"
@rendermode InteractiveServer

<PageTitle>Intake</PageTitle>

<h1>Clothing Intake</h1>

<!--TODO-->
<!--
    Input Fields:
        Item type (dropdown menu?)
        Size (have allow for numbers and letters, also allow empty inputs)
        ...

    Print Button:
        Call print logic function
-->
<label>Item Type:</label>
<input type="text" @bind="item_type">

<label>Item Size:</label>
<input type="text" @bind="item_size">

<label>Item Gender:</label>
<input type="text" @bind="item_gender">

<button class="btn btn-primary" @onclick="DataSubmission">Submit</button>

@code {
/** TODO

    func Print() {
        Adds new item to database with input field info + timestamp + unique id
        Create barcode from ID
        Call printer API and print with design laid out by tagging group
        Empty all fields and/or force page refresh
        print alert to screen; something like "Item added successfully!" or whatever
    }

**/

    private string item_type = "";
    private string item_size = "";
    private string item_gender = "";

    public void DataSubmission() {
        // Submit data to database
        // Print tag for item, look at API for whatever printer team decides to use
        Shared.AddNewItem(item_type,item_size,item_gender);
    }
}
